* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    background-color: #161616;
    font-family: Arial, Helvetica, sans-serif;
}

header { 
    padding-top: 4em;
    padding-left: 5em;
    padding-right: 5em;
    nav { 
        li { 
            color: white;
            list-style: none;
            text-transform: uppercase;
            font-size: .8em;
        }
        display: flex;
        justify-content: space-between;

        .left { 
            img { 
                height: 40px;
                width: 120px;
            }
        }

        .right { 
            ul { 
                display: flex;
                li { 
                    margin-left: 40px;
                }
                a { 
                    text-decoration: none;
                }
            }
        }
    }
}

#s1 { 
    padding-left: 5em;
    padding-top: 6em;

    h1 { 
        text-transform: uppercase;
        font-size: 6em;
        color: white;
    }
    a { 
        text-decoration: none;
        color: red;
        font-size: 1em;
        h3 { 
            padding-top: 3em;
            float: right;
            padding-right: 4em;
        }
    }
   
}

.box { 
    position: absolute;
    background: white;
    background-attachment: fixed;
    overflow: hidden;
}

#s2 { 
    width: 100%;
    height: 100vh;
}








$color-text: #e1eef6;
$color-link: #ff5f2e;
$color-link-hover: #fcbe32;
$black: #111111;

body {
  font-family: sans-serif;
  background-color: $black;
}

a {
  color: $color-link;
  
  &:hover {
    color: $color-link-hover;
  }
}

button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  font-weight: 700;
  font-size: 16px;
  background-color: red;
  color: white;
}

.screen {
  background-color: $color-text;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  content: " ";
  overflow: hidden;
  
  background: #16222A;
  background: -webkit-linear-gradient(to left, #16222A , #3A6073);
  background: linear-gradient(to left, #16222A , #3A6073);
  background-size: cover;
  background-image: url(https://media1.giphy.com/media/3o7qE2KFaCY1xVIqu4/200w.gif?cid=82a1493bjz3en0uv5u0md8pa8vaiv4vtlagv4yfuumon5uf6&rid=200w.gif&ct=g);
  opacity: .3;
  color: $color-text;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
}
