* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    background-color: #161616;
    font-family: vcr;
}

@font-face {
    font-family: vcr;
    src: url(../assets/vcr.ttf);
}

header { 
    padding-top: 4em;
    padding-left: 5em;
    padding-right: 5em;
    nav { 
        li { 
            color: white;
            list-style: none;
            text-transform: uppercase;
            font-size: .8em;
        }
        display: flex;
        justify-content: space-between;

        .left { 
            img { 
                height: 40px;
                width: 120px;
            }
        }

        .right { 
            ul { 
                display: flex;
                li { 
                    margin-left: 40px;
                }
                a { 
                    text-decoration: none;
                }
            }
        }
    }
}

#s1 { 
    padding-left: 5em;
    padding-top: 6em;

    h1 { 
        text-transform: uppercase;
        font-size: 6em;
        color: white;
    }

      
    a { 
        text-decoration: none;
        color: red;
        font-size: 1em;
        h3 { 
            padding-top: 3em;
            float: right;
            padding-right: 4em;
        }
    }
   
}

.box { 
    position: absolute;
    background: white;
    background-attachment: fixed;
    overflow: hidden;
}

#s2 { 
    width: 100%;
    height: 100vh;
}






// screen css
button {
  position: fixed;
  right: 40px;
  bottom: 30px;
  padding: 20px;
  font-family: vcr;
  font-weight: 700;
  font-size: 16px;
  background-color: rgb(206, 30, 30);
  color: white;
  align-items: center;
 
}

.screen {
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  content: " ";
  overflow: hidden;
  background: #16222A;
  background-size: cover;
  background-image: url('../assets/gif.gif');

  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
 
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1.2s step-start 0s infinite;
}